div()
    div.container
        h1 Search by categories
    div.container
        form(action="ng-submit='processForm()'")
                    div.form-group
                        select.form-control
                            option(ng-repeat="v in categories" id="{{v['_id']}}") {{v['Name']}}
                        br
                        button(
                            type='submit'
                            ).btn.btn-lg.btn-primary.btn-block Seach
