div()
    div.container
        h1 Search by categories
    div.container
        form(action="ng-submit='processForm()'")
                    div.form-group
                        select.form-control
                            option {{categories}}