div()
    div.container
        h1 All courses
    div.container#loading
        p Loading...
    div(id="results" class="uni9-div-pres-res").container
            div(ng-repeat="course in courses" ng-click="ViewCourse(course['_id'])" class="uni9-div-res")
                div.row
                    div.col-5
                        h5 {{course['sport']}}
                    div.col-5
                    div.col-2
                        p {{course['university']['code']}}
                div.row
                    div.col-5
                        p {{course['category']['name']}}
                    div.col-2
                    div.col-5
                        p.uni9-pres-res-right {{course['times']}}{{course['day']}} {{course['time']}}