div.container-fluid
    h1.uni9-h1-home Welcome to Unisport 9!
div.container-fluid.row.uni9-home
    div.col-8
        p.
            - Tired of not being able to properly research the university sport that interests you?#[br]
            - The universities sport website are too terrible at finding something?#[br]
            - You are a student that have courses in multiple universities?#[br]#[br]
            <b>So Unisport 9 is your saviour!</b>
        
        p.
            With Unisport 9 you can search all the sports given by the universities of Neuchâtel, Bern and Fribourg.#[br]
            We fetch all the essentials informations and serve them to you with 6 differents search methode:
        ul
            li By universities
            li By categories
            li By days
            li By dates
            li All the sport givin today
            li The list of all sports
        
        p.
            So enjoy sport!
    div.col-4.uni9-div-right
        h3 Try something new
        div(ng-click="ViewCourse(courseR['_id'])").uni9-div-res
            div.row
                div.col-5
                    h5 {{courseR['sport']}}
                div.col-5
                div.col-2
                    p {{courseR['university']['code']}}
            div.row
                div.col-5
                    p {{courseR['category']['name']}}
                div.col-2
                div.col-5
                    p.uni9-pres-res-right {{courseR['times']}}{{courseR['day']}} {{courseR['time']}}
        br
        h3 Course of the day
        div(ng-click="ViewCourse(courseD['_id'])").uni9-div-res
            div.row
                div.col-5
                    h5 {{courseD['sport']}}
                div.col-5
                div.col-2
                    p {{courseD['university']['code']}}
            div.row
                div.col-5
                    p {{courseD['category']['name']}}
                div.col-2
                div.col-5
                    p.uni9-pres-res-right {{courseD['times']}}{{courseD['day']}} {{courseD['time']}}

