div.container-fluid
    h1.uni9-h1-home Welcome to Unisport 9!
div.container-fluid.row
    div.col-8
        p.uni9-p-home.
            Tired of not being able to properly research the university sport that interests you?#[br]
            The universities sport website are too terrible at finding something?#[br]
            You are a student that have courses in multiple universities?#[br]
            So Unisport 9 is your salvetion!
    div.col-4
        h3 Try something new
