div(ng-controller='Search')
    div.row.container-fluid
        div.col-1
            nav.navbar.bg-light
                ul.navbar-nav
                    li.nav-item.active Search by
                    li.nav-item
                        a(ui-sref="search.uni").nav-link University
                    li.nav-item
                        a(ui-sref="search.categories").nav-link Categories
                    li.nav-item
                        a(ui-sref="search.courses").nav-link Courses
        
        div.col-11
            form(action="ng-submit='processForm()'")
                div.form-group
                    h2 Categories
                    select.form-control
                        option {{categories}}
    
        div.col-12
            div(ui-view="search")