div.container.uni9-courses-show#show
    h2 {{courses['sport']}}
    br
    table.table
        tbody
            tr
                th(scope="row") Category
                td {{courses['category']['name']}}
            tr
                th(scope="row") Descritpion
                td(id="description")
            tr
                th(scope="row") University
                td {{courses['university']['Name']}}
            tr
                th(scope="row") Time
                td(id="times")
            tr
                th(scope="row") Place
                td {{courses['place']}}
            tr
                th(scope="row") Instructor
                td  {{courses['instructor']}}  
            tr#req-tr.uni9-hidde
                th(scope="row") Requirements
                td(id="requirements")
            tr
                th(scope="row") Price
                td(id="price")
            tr
                th(scope="row") Material
                td(id="material")
            tr
                th(scope="row") More informations
                td
                  a(href="{{courses['link']}}" target="_blank") {{courses['link']}}
            