extends layout

block body
  div(ng-controller='AppCtrl')
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a(href='').navbar-brand Unisport9
      ul.navbar-nav
        li.nav-item
          a(href='').nav-link Home
        li.nav-item.dropdown
          a(id="navbardrop" data-toggle="dropdown").nav-link.dropdown-toggle Search
            div(aria-labelledby="navbardrop").dropdown-menu
              a(href="search/uni").dropdown-item By uni
              a(href="search/categories").dropdown-item By categories
              a(href="search/days").dropdown-item By days
              a(href="search/dates").dropdown-item By dates
              a(href="search/today").dropdown-item Today's sport
              a(href="search/courses").dropdown-item All sport              

    div(ng-view)

    div
      | Unisport: v
      span(app-version)
      |  Make the university sport searchable since 2017


  script(src='js/lib/jquery.js')
  script(src='js/lib/bootstrap.bundle.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-cookies.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers/controllers.js')
  script(src='js/controllers/index.js')
  script(src='js/controllers/search.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
