/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.uni9-div-res {
  border-width: 1px;
  border-color: black;
  padding: 3px;
  margin-bottom: 1em;
  background-color: gainsboro;  
  cursor: pointer;
}

.uni9-div-pres-res{
  display: none;
  height: 400px;
  overflow-y: scroll;
}

div.uni9-home p{
  margin-left: 1em;
}

.uni9-h1-home{
  margin-top: 10px;
  margin-bottom: 10px;
}

.uni9-pres-res-right{
  text-align: right;
  margin-right: 10px;
}

.uni9-div-right{
  background-color: darkgrey;
}

.uni9-courses-show{
  display: none;
}

.uni9-hidde{
  display: none;
}

.uni9-button{
  width: 100%;
}