html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Unisport9
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
